body{
  text-align:center;
  font-family:open sans,sans-serif;
  background-color:#8a71c9;
  color:#ffffff;
  margin:0;

}

h1{
  font-size:60px;
  font-weignt:300;
}

h2{
  color:#2a0074;
  font-size:40px;
}

h3{
  font-size:22px;
  font-style:italic;
}

.titulo-verde{
  color:#04ff9f;
}

.titulo-vermelho{
  color:#FF9E9E;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
  max-width:60%;
  margin: 0 auto;
  line-height:1,5;
  
}
